/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

LI {
    list-style: none;
    text-align: center;
    border-top: 2px solid #800;
    padding: 0.8em 0;
}

LI:nth-child(1) {
    border-top: none;
}

.reveal code {
    font-size: 70%;
    border: 1px solid #444;
    border-radius: 3px;
    padding: 0 0.3em;
    background: #252525;
}

H2 {
    border-bottom: 2px solid #444;
}

.reveal .speaker-notes {
    color: #bbb8b4;
    background: #111;
    border-left: 4px solid black;
}

.reveal .speaker-notes::before {
    content: 'Notes';
    border-bottom: 2px solid #800;
    margin-left: -1em;
    margin-right: -1em;
    padding: 0 1em 0.5em 1em;
    background: #101010;
}

.speaker-notes li {
    list-style: disc;
    border: none;
    padding: 0;
    text-align: left;
}

.speaker-notes code {
    font-size: 100%;
}

.speaker-notes H1,
.speaker-notes H2,
.speaker-notes H3,
.speaker-notes H4,
{
    margin-left: -0.7em !important;
    padding-left: 0.7em;
    border-bottom: 1px solid #444;
    color: #bbb8b4 !important;
}

.speaker-notes H1 {
    font-size: 140% !important;
}

EM {
    color: #ff0;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
